In [40]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

data = pd.read_csv('CSV_files/nba_players.csv')

In [41]:
print('Data shape:', data.shape)
data.info()

Data shape: (1000, 11)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            1000 non-null   int64
 1   first_name    1000 non-null   object
 2   last_name     1000 non-null   object
 3   position      87 non-null     object
 4   id_team       1000 non-null   int64
 5   abbreviation  1000 non-null   object
 6   city          1000 non-null   object
 7   conference    1000 non-null   object
 8   division      1000 non-null   object
 9   full_name     1000 non-null   object
 10  name          1000 non-null   object
dtypes: int64(2), object(9)
memory usage: 86.1+ KB

In [42]:
print(data.value_counts('position'))

position
G      40
F      28
C      13
C-F     2
F-C     2
G-F     2
Name: count, dtype: int64

In [12]:
data.isnull().sum()

id                0
first_name        0
last_name         0
position        913
id_team           0
abbreviation      0
city              0
conference        0
division          0
full_name         0
name              0
dtype: int64